/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My code starts from here */

/* header */
div[class="header"]{
	display: flex;
	justify-content: space-evenly;
	padding: 30px;
}

div[class="header"]>h1{
	font-size: 50px;
}

div[class="header"]>img{
	height: 75px;
}

/* Project listView */
.project_general{
	display: flex;
	padding: 15px 20px;
	margin:  5px;
	border-radius: 10px;

	background-color: #1F2937;
	color:white;
}

.project_general>:last-child>span{
	cursor: pointer;
}


.project_general_pair{
	display: flex;
	flex-wrap: wrap;
	gap:5px;

	margin: 0 5px;
}

div[class="project_general"]>span{
	flex:1;
	font-size: 25px;
}


/* This CSS combinator is about the controls. */
.project_view_icon, .project_edit_icon, .project_del_icon{
	padding:1px;
	border: 1px solid #F9FAF8;
	color: white;

	display: flex;
	align-items: center;
}
span[class="project_edit_icon collapsed"] svg{
	transform: rotate(180deg);
}

span[class="project_edit_icon"] svg{
	transform: rotate(0deg);
}

/* Project Edit View */

.edit_project_legend{
	margin: 5px;
	font-size: 25px;
	text-align: center;
}

.edit_project_flex_area{
	
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.edit_project_row{
	display: flex;
	align-items: center;

	margin:10px;
	width: 300px;

}

div[class="edit_project_row"]>label{
	width: 100px;
}

div[class="edit_project_row"]>:last-child{ 
/* last-child of div is the input area */
	flex:1;
}

.edit_project_buttons{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	margin:  0 300px;
}

div[class="edit_project_buttons"]>button{
	margin:5px;

	color:#F9FAF8;
	font-size: 25px;

	width: 200px;
    height: 60px;

    border:3px solid #F9FAF8;
	border-radius: 20px;
}

button[class="project_edit_submit"]{
	background-color: green;
}

button[class="project_add_todo"]{
	background-color: purple;
}

/* todo_section */
.todo_section{
	margin: 10px;
	padding: 15px;
	font-size: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap:5px;


	border-radius: 10px;
	background-color: #3882F6;
	color: white;
}

.todo_section>h2{
	font-size: 30px;
}

/* Todo listView under each project */
.todo_general{
	display: flex;
	flex-direction: row;
	margin: 10px 0;
	padding: 15px;

	border: 3px solid white;
	
}

.todo_general_pair{
	display: flex;
	flex-direction: column;
	width: 400px;
}

/* This is for the controls within every todo item. */
.todo_general>:last-child {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.todo_view_icon>span, .todo_edit_icon>span, .todo_del_icon>span{
	cursor: pointer;
	border: 1px solid white;
} 



/* newProject */
div.newProject{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin:15px;
	border: 1px solid black;
}

div.newProject>form{
	display: none;
}

.new_project_legend{
	margin: 5px;
	font-size: 25px;
	text-align: center;
}

.project_flex_area{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project_row{
	display: flex;
	align-items: center;
	margin:10px;
	width: 300px;

}

div[class="project_row"]>label{
	width: 100px;
}

div[class="project_row"]>:last-child{ 
/* last-child of div is the input area */
	flex:1;
}

.project_buttons{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

div[class="project_buttons"]>button{
	margin:5px;

	color:#F9FAF8;
	font-size: 25px;

	width: 150px;
    height: 60px;

    border:3px solid #F9FAF8;
	border-radius: 20px;
}

button[class="project_confirm"]{
	background-color: green;
}

button[class="project_cancel"]{
	background-color: red;
}

div[class="project_add_icon"]{

	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	
	margin:5px;

	background-color: blue;
	color:#F9FAF8;
	font-size: 25px;

	width: 150px;
    height: 60px;

    border:3px solid #F9FAF8;
	border-radius: 20px;
}

/* modal-dialog */
.modal-dialog{
	color:black;
}

.edit_todo_legend{
	text-align: center;
	margin:5px;
}

.edit_todo_flex_area{
	display:flex;
	flex-direction: column;
}

.edit_todo_row{
	display: flex;

	margin:10px;
	width: 400px;

}

.edit_todo_row>label{
	width: 150px;
}

.edit_todo_row>:last-child{
	flex: 1;
}